.categories {
  margin-bottom: 88px;
}

.categories h2 {
  padding: 66px 24px 1px 24px;
  margin: 0px;
  font-weight: 700;
  font-size: 46px;
  text-align: center;
  line-height: 1.5;
}

.categories-cards {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}

.categories-cards a.card {
  width: 312px;
  height: 220px;
  background-color: var(--background-secondary-color);
  text-align: center;
  border-radius: 16px;
  padding: 24px;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--text-primary-color);
}

.categories-cards .card h3 {
  font-size: 28px;
  font-weight: var(--title-weight);
}

.categories-cards .card.single-line {
  padding-top: 50px;
}

.categories-cards .card.single-line.transfer img {
  margin: 10px 0 20px;
}

@media screen and (min-width: 768px) {
  .categories-cards {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
