header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 29px 48px;
  align-items: center;
}

.logo-bussula__mobile {
  display: inline-block;
  width: 68px;
  height: 64px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
}

nav {
  display: none;
  margin-bottom: 100%;
  background-color: var(--background-primary-color);
}

.menu__hamburguer {
  display: flex;
  margin-right: 0.7em;
}
