header {
  background-color: var(--background-tertiary-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 29px 48px;
  align-items: center;
  position: relative;
}

.logo-bussula__mobile {
  display: inline-block;
  width: 68px;
  height: 64px;
}

input[type="checkbox"]:checked ~ nav {
  display: block;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: var(--background-tertiary-color);
}

nav {
  display: none;
  position: absolute;
}

.menu__hamburguer {
  display: flex;
  margin-right: 0.7em;
}

.list-links li {
  margin: 16px 0;
}

.list-links li a {
  color: var(--text-secundary-color);
  text-decoration: none;
  list-style: none;
}
