.card {
  color: var(--text-secundary-color);
  background-color: black;
  width: 312px;
  height: 288px;
  box-sizing: border-box;
  padding: 24px 16px;
  border-radius: 1.5em;
  text-align: center;
}

.card header {
  display: block;
  background-color: transparent;
  position: static;
}

.card header p {
  font-size: 20px;
  font-weight: 400;
  color: aliceblue;
}

.card header h3 {
  font-size: 40px;
  font-weight: 700;
  color: aliceblue;
  margin: 5px 0 2px 0;
}

.card header span {
  font-size: 32px;
  font-weight: 700;
  color: aliceblue;
  margin-top: 24px;
  display: inline-block;
}
